<!DOCTYPE html>
<html lang="en" data-theme='light'>


<link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.1/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>

<body class='max-w-7xl mx-auto '>
   <div class="hero min-h-[80vh] bg-[#E8E9EFFF] my-auto mt-[50px]">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-7xl font-bold text-black">ChatVid</h1>
  <p class='py-6 text-black text-xl'>Experience seamless video chat with chatVid. Connect with friends and colleagues effortlessly.</p>

<a href="{% url 'lobby' %}" class="btn btn-primary">Join Room</a>
    </div>
  </div>
</div>
</body>

</html>
